
<div class="container mt-5 ms-5">
    
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text ms-5">Welcome</p>
   <a href="/users/user-logout"><button onclick="alertBox()" type="button" class="btn btn-primary ms-5">Logout</button></a> 
  </div>
  <script>
              function alertBox()
              {
                alert("Logout successfully")
              }
            </script>
</div>
</div>